/* GENERAL */

body{
font-family: Raleway;
margin: 0;
}

a{
    color: initial;
    text-decoration: none;
}

h2{
    font-size: 20px;
}

/* HEADER */

.header{
    max-width: 1440px;
    width: 97%;
    margin : auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
}

.header__logo img{
    height: 65px;
}

.header__navbar-items{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 65px;
    margin-bottom: 15px;
    gap: 50px;
}

.header__navbar-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__navbar-item--line-on-hover{
    height: 3px;
    background: white;
}

.header__navbar-items a {
    font-size: 18px;
    color: #0065FC;
}

#navbar-item-housings:hover > .header__navbar-item--line-on-hover {
    background: #0065FC;
    width: 140%;
    margin-left: -20px;
  }
  
#navbar-item-activities:hover > .header__navbar-item--line-on-hover {
    background: #0065FC;
    width: 150%;
    margin-left: -25px;
  }


/* SEARCH SECTION */

.search{
    max-width: 1440px;
    width: 97%;
    margin: auto;
  }

.search__title{
    margin-top: 30px;
    margin-left: 12px;
}

.search__title .main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -10px;
}

/* search bar */

.search__bar{
    display: flex;
    flex-direction: row;
    margin-bottom: -10px;
    margin-left: 12px;
}

.search__bar i{
    border: none;
    border-radius: 12px 0px 0px 12px;
    color: black;
    background-color: #F2F2F2;
    padding: 17px;
    cursor: pointer;
}

.search__bar input{
    border: none;
    font-weight: 700;
    font-size: 14px;
    padding: 15px;
    color: black;
}

.search__bar::placeholder {
    color: black;
    font-size: 14px;
    font-weight: 500;
  }

.search__bar input:focus {
    outline: 2px solid grey;
    border-radius: 3px;
    z-index: 1;
}

#big-button {
    border: none;
    border-radius: 0 12px 12px 0;
    background-color: #0065FC;
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 17px;
    cursor: pointer;
}

#small-button {
    display: none;
}

/* filters bar */

.search__filters{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 12px;
}


.search__filters .category-block{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.search__filters .category-block .category{
    border : 2px solid #DEEBFF;
    border-radius : 20px;
    border-left: none;
    cursor: pointer;
    font-size: 14px;
    height: fit-content;
    width:max-content;
    padding: 0 20px 0 0;
    margin-right: 15px;
    margin-bottom: 0;
}

.search__filters .title h3{
    margin-right: 15px;
}

.search__filters .category i{
    padding : 7px;
    border-radius: 50%;
    margin-right: 7px;
    border: solid 1px #DEEBFF;
    color : #0065FC;
    background-color: #DEEBFF;
    outline: solid 2px #DEEBFF;
    cursor: pointer;
}

.search__filters .category:hover{
animation: blink 2s ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

/* information line */

.search__information{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 12px;
}

.search__information i {
    color: #0065FC;
    font-size: 14px;
    padding: 5px 9px 5px 9px;
    border: solid 1px #DEEBFF;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin: 0 10px 0 0;
}

/*  HOUSINGS SECTION  */

.housings{
    max-width: 1440px;
    width: 97%;
    margin: auto;
    display : flex;
    flex-direction: row;
    gap: 30px;
}

.€{
    font-weight: bold;
}

.low-price{
    font-weight: bold;
}

.blue-star {
 color: #0065FC;
}

.grey-star {
    color: #F2F2F2;
}


/* housings container 1  */
.housings__container1{
    flex: 60%;
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1px 20px -10px black;
    padding : 0 10px 0 10px;
    background-color: #F2F2F2;
}

.housings__container1 h2{
    margin-left: 15px;
    cursor: pointer;
}

.unfolder p{
    margin-left: 15px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 15px;
    font-weight: bold;
}

.housings__container1 .six-boxes-pack{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.housings__container1 .six-boxes-pack .individual-box{
    flex:28%;
    border: solid white 5px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
    padding-bottom: 5px;
    height: 200px;
    cursor: pointer;
}

.housings__container1 .six-boxes-pack .individual-box .content{
    font-size: 13px;
    margin-left: 10px;
    padding: 0;
    line-height: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.housings__container1 img{
    height : 60%;
    width : 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.housings__container1 .six-boxes-pack .individual-box .content .title{
    margin-top:  5px;
}

.housings__container1 .six-boxes-pack .individual-box .content .price{
    margin: 0;
}

.housings__container1 .six-boxes-pack .individual-box .content .note{
    margin-bottom: 5px;
}


/* housings container 2  */

.housings__container2{
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 1px 1px 20px -10px black;
    border-radius: 15px;
    padding : 0 20px 15px 20px;
    background-color: #F2F2F2;
}

.housings__container2 .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.housings__container2 .title h2{
    cursor: pointer;
    margin-left: 2px;
    }

.housings__container2 .title i{
    font-size: 20px;
    margin : 20px 10px 10px 10px;
    cursor: pointer;
}

.housings__container2 .three-boxes-pack{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.housings__container2 .three-boxes-pack .individual-box{
    border: solid white 5px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px 0 10px 0;
    flex-wrap: wrap;
    height: 150px;
    cursor: pointer;
}

.housings__container2 img{
    height : 100%;
    width : 40%;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

.housings__container2 .three-boxes-pack .individual-box .content {
    font-size: 13px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.housings__container2 .three-boxes-pack .individual-box .content .text h3 {
    margin : 5px 5px 10px 0;
}

/* ACTIVITIES SECTION */

.activities{
    max-width: 1440px;
    width: 97%;
    margin: auto;
    margin-top: 30px;
}

.activities h2 {
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 12px;
}

.activities__container{
    display: flex;
    flex-direction: row;
    height: 400px;
    column-gap: 30px;
}

.activities__container #column1{
    display: flex;
    flex-direction: column;
    flex: 25%;
}

.activities__container #activity1{
    height: 100%;
}

.activities__container #column2{
    display: flex;
    flex-direction: column;
    row-gap: 75px;
    flex: 25%;
}

.activities__container #activity2{
    height: 200px;
}

.activities__container #activity3{
    height: 125px;
}

.activities__container #column3{
    display: flex;
    flex-direction: column;
    flex: 25%;
}

.activities__container #activity4{
    height: 100%;
}

.activities__container #column4{
    display: flex;
    flex-direction: column;
    row-gap: 75px;
    flex: 25%;
}

.activities__container #activity5{
    height: 150px;
}

.activities__container #activity6{
    height: 175px;
}

.activities__container .individual-box{
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 1px 1px 20px -10px black;
}

.activities__container img{
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.activities__container h3{
    font-size: 14px;
    border-radius: 0 0 20px 20px;
    box-shadow: 1px 1px 20px -10px black;
    padding: 20px 0 20px 10px;
    margin: -10px 0 0 0;
}

.activities__container .individual-box .content{
    height: 100%;
    margin: 0;
}


/*  FOOTER  */

.footer{
    width: 100%;
    margin: auto;
    margin-top: 80px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
}

.footer__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-left: 12px;
    max-width: 1440px;
}

.footer__container .boxes{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.footer__container .boxes h4{
    cursor: pointer;
}

.footer__container .boxes a{
    cursor: pointer;
    margin-bottom: 13px;
}

#assistance{
    margin-right: 300px;
}



/* MEDIA QUERIES */

@media screen and (max-width: 992px){ 

    .housings {
        flex-direction: column-reverse;
    }

    .housings__container2{
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0 15px 15px 15px;
    }
    
    .housings__container2 .title{
        width: 97%;
    }
    
    .housings__container2 .three-boxes-pack{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 18px;
        width: 100%;
    }
    
    .housings__container2 .three-boxes-pack .individual-box
    {
        width: 30%;
        margin: 5px 0 5px 0;
    }

    .housings__container2 .three-boxes-pack .individual-box img{
        width: 50%;
    }
    .housings__container2 .three-boxes-pack .individual-box .content{
        width: 40%;
    }

    .housings__container2 .three-boxes-pack .individual-box .content .text{
        font-size: 12px;
    }
    
    .housings__container2 .three-boxes-pack .individual-box i{
        font-size: 12px;
    }

    .activities__container{
        height: 250px;
    }
    
    .activities__container #activity2{
        height: 100px;
    }
    
    .activities__container #activity3{
        height: 75px;
    }
    .activities__container #activity5{
        height: 75px;
    }
    
    .activities__container #activity6{
        height: 100px;
    }
    
    .activities__container .individual-box h3{
        font-size: 11px;
    }

    #assistance{
        margin-right: 100px;
    }

}


@media (max-width: 768px){   

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    
    .header__logo img{
        margin-bottom: 25px;
    }
    
    .header__navbar-items{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 0;
    }
    
    .header__navbar-item{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    
    .header__navbar-items a {
        font-size: 15px;
        padding: 0;
    }

    #navbar-item-housings {
        flex: 50%;
    }
    
    #navbar-item-activities {
        flex: 50%;
    }

    #navbar-item-housings > .header__navbar-item--line-on-hover {
        background: #F2F2F2;
        height: 2px;
        margin-top: 10px;
        width: 100%;
        margin-left: 0;
      }
      
    #navbar-item-activities > .header__navbar-item--line-on-hover {
        background: #F2F2F2;
        height: 2px;
        margin-top: 10px;
        width: 100%;
        margin-left: 0;
      }

    #navbar-item-housings:hover> .header__navbar-item--line-on-hover {
        background: #0065FC;
        width: 100%;
        margin-left: 0;
      }
      
    #navbar-item-activities:hover > .header__navbar-item--line-on-hover {
        background: #0065FC;
        width: 100%;
        margin-left: 0;
      }

    .search__title h2{
        margin-top: 40px;
      }

    .search__bar{
    justify-content: center;
    }

    .search__bar input{
        width: 100%;
    }

    #big-button {
        display: none;
    }
    
    #small-button {
        display: block;
        right: 0;
        border : none;
        margin: 0;
        padding: 0;
        background: none;
    }

    #small-button i {
        background-color: #0065FC;
        border-radius: 12px;
        color: white;
        font-size: 20px;
    }

    .search__filters{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    
    .search__filters .category-block{
        flex-wrap: wrap;
    }

    .search__filters .title h3{
        margin-top: 15px;
    }

    .search__filters .category-block .category{
        margin-bottom: 10px;
    }


    .search__information{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items:baseline;
    }
    
    .search__information i{
        margin: 11px 10px 0 0;
    }


    .housings__container1{
        display : flex;
        border-radius: 0;
        border: 0;
        box-shadow: none;
        padding : 0 5px 0 5px;
        background-color: white;
    }
    
    .housings__container1 h2{
        font-size: 25px;
    }
       
    .housings__container1 h3{
        font-size: 17px;
    }

    .housings__container1 p{
        font-size: 17px;
    }

    .housings__container1 i{
        font-size: 12px;
    }

    .housings__container1 .six-boxes-pack .individual-box{
        flex: 100%;
        height: 250px;
        box-shadow: 1px 1px 20px -10px black;
    }
    
    .housings__container1 .six-boxes-pack .individual-box .content{
        font-size: 20px;
        padding-top: 10px;
    }

    .housings__container2{
        border: 0;
        border-radius: 0;
        box-shadow: none;
        padding : 0 15px 15px 15px;
        margin: 0 -11px 0 -11px;
    }
    
    .housings__container2 h2{
        font-size: 25px;
    }

    
    .housings__container2 .title i{
        font-size: 20px;
        margin : 20px 10px 0px 10px;
    }
    
    .housings__container2 .three-boxes-pack .individual-box{
        height : 175px;
        width: 100%;
    }
    
    .housings__container2 .three-boxes-pack .individual-box .content{
        margin: 0px 0px 0px 10px;
    }
    
    .housings__container2 .three-boxes-pack .individual-box .content .text{
        font-size: 14px;
    }
    
    .housings__container2 .three-boxes-pack .individual-box i{
        font-size: 12px;
    }

    .unfolder p{
        font-size: 18px;
        margin-top: 20px;
        margin-left: 17px;
    }

    .activities {
        width : 88%;
    }

    .activities h2 {
        font-size: 25px;
        margin-left: 0;
    }

    .activities__container{
        display: flex;
        flex-direction: column;
        height: 100%;
        row-gap: 0;
    }
    
    .activities__container #column1{
        flex: 100%;
        height: 100%;
        row-gap: 0;
    }
    
    .activities__container #activity1{
        height: 100%;
        margin-bottom: 20px
    }
    
    .activities__container #column2{
        display: flex;
        flex-direction: column;
        row-gap: 0;
        flex: 100%;
        height: 100%;
    }
    
    .activities__container #activity2{
        height: 100%;
        margin-bottom: 20px;
    }
    
    .activities__container #activity3{
        height: 100%;
        margin-bottom: 20px;
    }
    
    .activities__container #column3{
        display: flex;
        flex-direction: column;
        flex: 100%;
        height: 100%;
        row-gap: 0;
    }
    
    .activities__container #activity4{
        height: 100%;
        margin-bottom: 20px;
    }
    
    .activities__container #column4{
        display: flex;
        flex-direction: column;
        row-gap: 0;
        flex: 100%;
        height: 100%;
    }
    
    .activities__container #activity5{
        height: 100%;
        margin-bottom: 20px;
    }
    
    .activities__container #activity6{
        height: 100%;
        margin-bottom: 0;
    }
    
    .activities__container img{
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 175px;
        object-fit: cover;
        margin: 0;
    }

    .activities__container .content h3{
        font-size: 17px;
        padding-left: 25px;
    }
    
    .footer__container{
        display: inline-flex;
        flex-direction: column;
        padding-bottom: 35px;
    }
    
    .footer__container .boxes{
        padding: 0 0 0 35px;
    }

    .footer__container h4{
        font-size: 19px;
    }

    .footer__container a{
        font-size: 20px;
    }
    
    #assistance{
        margin-right: 0;
    }

} 

