/* GENERAL */

body {
/*  font family à placer ici  */
margin-top: 0px;
}

a {
    color: initial;
    text-decoration: none;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
}

/* HEADER */

header {
    max-width: 1440px;
    width: 97%;
    margin : auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    grid-template-rows: 40px;
    grid-template-areas: "logo . housings activities";
}

#logo{
    grid-area: logo;
}

#logo img{
    margin-top:35px;
}

#navbar-item-housings {
    grid-area: housings;
}
#navbar-item-activities {
    grid-area: activities;
}

#navbar-item-housings:hover {
    border-top: solid 2px black;
    }

#navbar-item-activities:hover {
    border-top: solid 2px black;
    }

.navbar-item{
justify-self: flex-end;
align-self: center;
margin-left: 30px;
padding-top: 20px;
}


/* SEARCH SECTION */

#search-section{
    max-width: 1440px;
    width: 97%;
    margin: auto;
  }

#section-title{
    margin-top: 30px;
}

#main-title {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -10px;
}

/* search bar */

#search-bar{
    display: flex;
    flex-direction: row;
    margin-bottom: -10px;
}

#search-bar i{
    border: none;
    border-radius: 12px 0px 0px 12px;
    color: black;
    background-color: grey;
    padding: 17px;
    cursor: pointer;
}

#search-bar input{
    border: none;
    font-weight: 700;
    font-size: 14px;
    padding: 15px;
    color: black;
}

#search-bar::placeholder {
    color: black;
    font-size: 14px;
    font-weight: 500;
  }

#search-bar input:focus {
    outline: 2px solid black;
    border-radius: 3px;
    z-index: 1;
}

#search-bar button{
    border: none;
    border-radius: 0 12px 12px 0;
    background-color: rgb(3, 118, 250);
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 17px;
    cursor: pointer;
}

/* filters bar */

#filters-bar{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
.category-filters{
    border : 2px solid grey;
    border-radius : 20px;
    border-left: none;
    cursor: pointer;
    list-style-type: none;
    font-size: 12px;
    height: fit-content;
    width:max-content;
    padding: 0 20px 0 0;
}

.category-filters i{
    padding : 7px;
    border-radius: 50%;
    border: solid 1px rgb(112, 174, 255);
    color : rgb(3, 118, 250);
    background-color: rgb(112, 174, 255);
    outline: solid 2px rgb(112, 174, 255);
    cursor: pointer;
}

/* information line */

#information{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#information i {
    color: blue;
    font-size: 14px;
    padding: 5px 9px 5px 9px;
    border: solid 1px black;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin: 0 10px 0 0;
}

/*  HOUSINGS SECTION  */

#housings-section{
    max-width: 1440px;
    width: 97%;
    margin: auto;
    display : grid;
    grid-template-columns: 1.8fr 1fr;
    column-gap: 30px;
    grid-template-areas: 
    "container1 container2";
}

#housings-section-container1 {
    grid-area: container1;
}

#housings-section-container2 {
    grid-area: container2;
}


#blue-star {
 color: blue;
}

#grey-star {
    color:grey;
}


/* housing container 1  */
#housings-section-container1{
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex : 2.3;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1px 20px -10px black;
    padding : 0 10px 0 10px;
    background-color: grey;
}

#housings-section-container1 h1{
    margin-left: 10px;
    cursor: pointer;
}

#housings-section-container1 h2{
    margin-left: 10px;
    cursor: pointer;
    }

#housings-section-container1 .boxes-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#housings-section-container1 .individual-boxes-from-boxes-container
{
    flex:28%;
    border: solid white 5px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px;
    padding-bottom: 5px;
    height: 200px;
    cursor: pointer;
}

#housings-section-container1 .box-content {
    font-size: 12px;
    margin-left: 10px;
    padding: 5px 0 5px 0;
    line-height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#housings-section-container1 img{
    height : 60%;
    width : 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

#housings-section-container1 .housing-title{
    margin-top:  5px;
}

#housings-section-container1 .housing-price{
    margin: 0;
}

#housings-section-container1 .housing-note{
    margin-bottom: 5px;
}

/* housing container 2  */

#housings-section-container2{
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex : 1;
    box-shadow: 1px 1px 20px -10px black;
    border-radius: 15px;
    padding : 0 20px 15px 20px;
    background-color: grey;
}

#container2-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#container2-title h1{
    cursor: pointer;
    }

#container2-title i{
    font-size: 30px;
    margin : 10px;
    cursor: pointer;
}

#housings-section-container2 .boxes-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#housings-section-container2 .individual-boxes-from-boxes-container
{
    border: solid white 5px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px 0 10px 0;
    flex-wrap: wrap;
    height: 150px;
    cursor: pointer;
}

#housings-section-container2 img{
    height : 100%;
    width : 40%;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

#housings-section-container2 .box-content {
    font-size: 12px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

#housings-section-container2 .box-text h3 {
    margin : 5px 5px 5px 0;
}

/* ACTIVITIES SECTION */

#activities-section{
    max-width: 1440px;
    width: 97%;
    margin: auto;
    margin-top: 20px 0 20px 0;
}

#activities-section h1 {
    cursor: pointer;
    margin-bottom: 20px;
}

#activities-section-container{
    display: grid;
    grid-template-areas:        
                                "activity1 activity2 activity4 activity5"
                                "activity1 activity2 activity4 activity5"
                                "activity1 activity2 activity4 activity6"
                                "activity1 activity2 activity4 activity6"
                                "activity1 activity3 activity4 activity6"
                                "activity1 activity3 activity4 activity6";
    grid-row-gap: 70px;
    grid-column-gap: 30px;
    grid-template-rows: 1fr 0.1fr 0.1fr 0.1fr 0.1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 500px;
}

#activities-section-container .boxes-container {
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 1px 1px 20px -10px black;
}

#activities-section-container img{
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}


#activities-section-container h3{
    font-size: 10px;
    border-radius: 0 0 20px 20px;
    box-shadow: 1px 1px 20px -10px black;
    padding: 20px 0 20px 10px;
    margin: -10px 0 0 0;
}

#activities-section-container .items{
    height: 100%;
    margin: 0;
}


#activity1{
    grid-area: activity1;
}

#activity2{
    grid-area: activity2;
}

#activity3{
    grid-area: activity3;
}

#activity4{
    grid-area: activity4;
}

#activity5{
    grid-area: activity5;
}

#activity6{
    grid-area: activity6;
}


/*  FOOTER  */

#footer{
    width: 100%;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: grey;

}

#footer #footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
}

#footer #footer-container .footer-boxes{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#footer #footer-container .footer-boxes h4{
    cursor: pointer;
}

#footer #footer-container .footer-boxes a{
    text-decoration: underline;
    cursor: pointer;
}

#assistance{
    margin-right: 400px;
}


/* MEDIA QUERIES */

/* breakpoints Bootstrap :
X-Small <576px >>> IPHONE 8 >>>> viewport 375*667
Small   ≥576px  
Medium  ≥768px
Large   ≥992px
Extra large ≥1200px
Extra extra large   ≥1400px */

@media screen and (max-width: 1400px){



}

@media screen and (max-width: 1200px){

    #housings-section {
        grid-template-columns: 1fr;
        row-gap: 30px;
        grid-template-areas: 
        "container2"
        "container1";
    }

    #housings-section-container2{
        flex-direction: row;
        justify-content: center;
        margin: 0;
        padding: 0 15px 15px 15px;
    }
    
    #container2-title{
        width: 97%;
    }
    
    #housings-section-container2 .boxes-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 18px;
        width: 100%;
    }
    
    #housings-section-container2 .individual-boxes-from-boxes-container
    {
        width: 31%;
    }
}

@media screen and (max-width: 1018px){


    #housings-section-container2 .individual-boxes-from-boxes-container
    {
        width: 30%;
    }
}

@media screen and (max-width: 992px){ 

    header {
        display: grid;
        justify-content: stretch;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "logo" "housings activities";
    }

    #logo img{
        margin-top:0;
    }
    
    #navbar-item-housings {
        padding-bottom: 20px;
    }
    #navbar-item-activities {
        padding-bottom: 20px;
    }

    #navbar-item-housings:hover {
        border-top: 0;
        }
    
    #navbar-item-activities:hover {
        border-top: 0;
        }
    
    #navbar-item-housings:hover {
        border-top: 0;
        border-bottom: solid 2px black;
        }

    #navbar-item-activities:hover {
        border-top: 0;
        border-bottom: solid 2px black;
        }

    .navbar-item{
    justify-self: center;
    align-self: none;
    margin-left: 0px;
    padding-top: 0px;
    }

    #search-bar{
        justify-content: center;
    }

    #search-bar input{
        width: 100%;
    }


    #housings-section-container2 .individual-boxes-from-boxes-container
    {
        width: 30%;
    }

    #housings-section-container2 .individual-boxes-from-boxes-container .box-text{
        font-size: 11px;
    }
    
    #housings-section-container2 .individual-boxes-from-boxes-container i{
        font-size: 12px;
    }

}


@media (max-width: 750px){   /*  NE FONCTIONNE PAS A PARTIR DE LA */


    #filters-bar{
        display: grid;
        grid-template-areas: "filters .  " 
                            "economic family " 
                            "romantic ." 
                            "pet-friendly .";
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 8fr;
        gap : 0;
        flex-direction: none;
        align-items: none;
    }
    
    #filters-title{
    font-size: 12px;
    }
    
    .category-filters{
        font-size: 15px;
    }
    
    #filters-title{
        grid-area: filters;
    }
    
    #economic{
        grid-area: economic;
    }
    
    #family{
        grid-area: family;
    }
    
    #romantic{
        grid-area: romantic;
    }
    
    #pet-friendly{
        grid-area: pet-friendly;
    }

    #information{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    #information i{
        margin: 11px 10px 0 0;
    }

    #housings-section-container1{
        display : flex;
        border-radius: 0;
        border: 0;
        box-shadow: none;
        padding : 0 20px 0 20px;
        background-color: white;
    }
    
    #housings-section-container1 h1{
        font-size: 40px;
    }
    
    #housings-section-container1 .individual-boxes-from-boxes-container{
        flex:100%;
        height: 550px;
        box-shadow: 1px 1px 20px -10px black;
    }
    
    #housings-section-container1 .box-content{
        font-size: 40px;
        padding-top: 25px;
    }
    
    #housings-section-container2 .individual-boxes-from-boxes-container{
        height : 250px;
        width: 100%;
    }
    
    #housings-section-container2 .individual-boxes-from-boxes-container .box-content{
        margin: 25px 0 10px 30px;
    }
    
    #housings-section-container2 .individual-boxes-from-boxes-container .box-text{
        font-size: 30px;
    }
    
    #housings-section-container2 .individual-boxes-from-boxes-container i{
        font-size: 30px;
    }
    
    #housings-section-container2{
        border: 0;
        border-radius: 0;
        box-shadow: none;
        padding : 0 30px 15px 30px;
    }
    
    #housings-section-container2 h1{
        font-size: 40px;
    }
    
    #container2-title i{
        font-size: 50px;
        margin : 25px 10px 10px 10px;
    }
    
    #activities-section{
        width: 92%;
    }
    
    #activities-section-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "activity1"
        "activity2"
        "activity3"
        "activity4"
        "activity5"
        "activity6";
        margin-bottom: 2200px;
    }
    
    #activities-section-container .boxes-container{
        height: 380px;
        justify-content : space-between;
    }
    
    #activities-section-container .boxes-container h3{
        font-size: 20px;
    }
    
    #footer #footer-container{
        display: inline-flex;
        flex-direction: column;
        padding-bottom: 35px;
    }
    
    #footer #footer-container .footer-boxes{
        padding: 0 0 0 35px;
    }
    
    #assistance{
        margin-right: 0;
    }

} 

@media screen and (max-width: 576px){

}